h2
  span(class="#{url.indexOf('/admin/index') == -1 ? 'account_navigation_tab' : 'account_navigation_tab_selected' }", style="display: block")
    a(href='/admin/index') Manage Looks
  span(class="#{url.indexOf('/admin/users') == -1 ? 'account_navigation_tab' : 'account_navigation_tab_selected' }", style="display: block")
    a(href='/admin/users') Manage Users
  span(class="#{url.indexOf('/admin/collection') == -1 ? 'account_navigation_tab' : 'account_navigation_tab_selected' }", style="display: block")
    a(href='/admin/collections') Manage Collections
  div(style="clear: both")