extends layout

block content
  h2.aboutHead About Ascot
  p 
    | Ascot is an image-tagging tool that lets you embed data into images.  Why would you want to do that?
    | Because when your friends/readers/customers look at the image laterm the Ascot layer will show them
    | all of the cool stuff you tagged.  Check it out:
  br
  iframe(src='/look/50beef4cd2e16da231000008/iframe', width='604', height='836', frameborder= '0')
  p
    | Picture this: you write a fashion blog, and are just about to post a picture of yourself wearing a really
    | fly outfit.  You want to give your readers information on the clothes you're wearing so that they can appreciate
    | how stylish you must be to put together an ensemble like that… and maybe but those clothes themselves. Instead 
    | of going through and typing out all of this information by hand, you can just use Ascot to quickly and easily
    | tag the clothes directly onto the picture. 
  p 
    | Even cooler, if one of your readers shares the picture on social networks, forums, or other blogs, the
    | Ascot layer will come with it. That means that all of the people who find it will be able to see
    | exactly the same useful information on the clothes.  And the best part?  Ascot shows everyone that the
    | image came from your blog, so anyone who sees the picture (anywhere on the internet) will know that it came
    | from you. And that you're awesome. And that they should go to your blog.
  p 
    | So what are you waiting for? 
    b Start using Ascot today! 
  h2.aboutHead Team
  p 
    | Our team has been working on startups together since graduating college (some from Princeton, some from Virginia Tech), and our most recent venture was funded through the TigerLabs incubator program.
