extends layout

block content

  p 
    | Ascot is an image-tagging tool that lets you embed data into images.  Why would you want to do that?  Because when your friends/readers/customers look at the image later they will have a data layer showing them all of the cool stuff you tagged. See the sample below. 
  br
  iframe(src='http://ascotproject.com/look/50beef4cd2e16da231000008/iframe', width='604', height='836', frameborder= '0')
  p
    | Picture this: you write a fashion blog, and are just about to post a picture of you wearing a really fly outfit.  You want to give your readers information on the clothes you're wearing so they can check them out and appreciate how stylish it was to put together the ensemble.  Instead of going through and typing out all of this information by hand, you can just use Ascot to quickly and easily tag the clothes directly onto the picture. 
  p 
    | Even cooler, if one (or millions) of your readers share the picture on social networks, forums, or other blogs, the information layer will come with it.  That means that all of the people who find it will be able to see exactly the same useful information on the clothes.  And the best part?  You can tell Ascot what your blog is so that anyone who sees the image anywhere on the web will know that it came from you and you're awesome and they should go to your blog.
  p 
    | So what are you waiting for? 
    b Start using Ascot today! 
  h4 Team
  p 
    | Our team has been working on startups together since graduating college (some from Princeton, some from Virginia Tech), and our most recent venture was funded through the TigerLabs incubator program.
