extends layout

block content
 #aboutText
  h2 About Ascot
  p 
    | We got tired of looking at beautiful pictures of awesome outfits all over the internet and having no clue where to get the clothes. 
    | We love fashion sites and use them for inspiration but we thought the online fashion community could do a better job of keeping track of products in pictures. 
    | Ascot makes it easy to tag products in pictures and keep the information as the picture gets shared. Here is an example
  br
  .exampleIframe 
    iframe#aboutExample(src='http://ascotproject.com/look/5123cbd51a59844303000024/iframe', width='513', height='636', frameborder= '0')
    img(src='/images/onboardMockup2.png', id:'step1')
  br
  p
    | Picture this: you write a fashion blog, and are just about to post a picture of yourself wearing a really
    | fly outfit.  You want to give your readers information on the clothes you're wearing so that they can appreciate
    | how stylish you must be to put together an ensemble like that… and maybe buy those clothes themselves. Instead 
    | of going through and typing out all of this information by hand, you can just use Ascot to quickly and easily
    | tag the clothes directly onto the picture. 
  br
  p 
    | Even cooler, if one of your readers shares the picture on social networks, forums, or other blogs, the
    | Ascot layer will come with it. That means that all of the people who find it will be able to see
    | exactly the same useful information on the clothes.  And the best part?  Ascot shows everyone that the
    | image came from your blog, so anyone who sees the picture (anywhere on the internet) will know that it came
    | from you. And that you're awesome. And that they should go to your blog.
  p 
    | So what are you waiting for? 
    b Start using Ascot today! 
  h2.aboutHead Team
  p 
    | Our team has been working on startups together since graduating college (some from Princeton, some from Virginia Tech), and our most recent venture was funded through the TigerLabs incubator program.
