extends layout

prepend head 
 script(src="/javascripts/newAboutPage.js")

block content
  h1.aboutHead About Ascot
  br
  #aboutColumnLeft
    p.leadingText 
      | Ascot is an image-tagging widget for labeling products in pictures. When the images get shared, the product information goes with it. 
      | No matter where your audience encounters your image, they will know what is in the image, where it came from, and where they can buy the products.    
      h2.aboutHead Ascot Basics
    h3 Meet the Ascot Overlay
    
    br
    .exampleIframe 
      iframe#aboutExample(src='http://ascotproject.com/look/5123cbd51a59844303000024/iframe', width='410.4', height='508.8', frameborder= '0')
    br
  #aboutColumnRight
    #ascotForAll
      h2.aboutHead Ascot For All
      h3 Ascot images and tags can be shared across the web. Click to learn about how Ascot behaves on different platforms. 
      br
      #valueProps
        .propsMenu
          ul
            li.selected  Brands 
            li  Bloggers
            li  Advertisers
      br
      div.brands 
        img(src="/images/aboutPage_brands.png")
        p Increase your brand presence by tagging images using the Ascot plugin. Give your visitors the ability 
          | to easily share your images while keeping your brand's product information and attribution. 
      div.bloggers 
        img(src="/images/aboutPage_bloggers.png")
        p The Ascot plugin is a great way to monetize your images and drive traffic to your blog. Ascot can automatically
          | generate affiliate links for products you tag and send the affiliate information as your users share your images. 
          | Monetize your conent outside of your blog and have direct links back to your site. 
      div.advertisers
        img(src="/images/aboutPage_advertisers.png") 
        p Take your campaign to the next level with Ascot. Increase click-through and engagement in social campaigns and 
          | banner ads by making interactive content. Leverage images from print media by tagging the images and giving them
          | online presence. 
    
    #ascotTeam
      h2.aboutHead Team 
      ul 
        li.teamMember  
          img(src="/images/deckPic_Cesar.png", width='105', height='130')
          i Cesar Devers

        li.teamMember  
          img(src="/images/aboutPage_Will.png", width='105', height='130')
          i Val Karpov
        li.teamMember  
          img(src="/images/aboutPage_Will.png", width='105', height='130')
          i William Kelly
        li.teamMember  
          img(src="/images/aboutPage_Knutson.png", width='105', height='130')
          i Justin Knutson

  .spacer 