extends layout

prepend head 
 script(src="/javascripts/newAboutPage.js")

block content
  h1.aboutHead About Ascot
  br
  #aboutColumnLeft
    p.leadingText 
      | Ascot is an image-tagging widget for labeling products in pictures. When the images get shared, the product information goes with it. 
      | No matter where your audience encounters your image, they will know what is in the image, where it came from, and where they can buy the products.    
      h2.aboutHead Ascot Basics
    h3 Meet the Ascot Overlay
    
    br
    .exampleIframe 
      iframe#aboutExample(src='http://ascotproject.com/look/5123cbd51a59844303000024/iframe', width='410.4', height='508.8', frameborder= '0')
    br
  #aboutColumnRight
    #ascotForAll
      h2.aboutHead Ascot For All
      h3 Ascot images and tags can be shared across the web. Click to learn about how Ascot behaves on different platforms. 
      br
      #valueProps
        .propsMenu
          ul
            li.selected  Brands 
            li  Bloggers
            li  Advertisers
      br
      p.brands Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam malesuada cursus. Nulla justo sem, interdum ut auctor et, dictum eu nisl. Ut adipiscing, nunc sit amet rhoncus varius, dolor augue ultrices purus, eu volutpat odio neque a nibh. Ut nec magna nec sapien feugiat rutrum ac eu dolor. Curabitur sodales blandit velit, a egestas ipsum luctus vitae. Mauris dapibus, velit a feugiat fringilla, arcu sapien tincidunt nunc, non vestibulum risus risus et enim. Nam nec dui metus, sed commodo dui.
      p.bloggers Bloggers
      p.advertisers Advertisers
    
    #ascotTeam
      h2.aboutHead Team 
  .spacer 