!!! 5
html(ng-app='AscotModule')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
    script(src='/common/basic_tools.js')
    script(src='/javascripts/AngularFilters.js')
    script(src='/javascripts/services/ImageOffsetService.js')
    script(src="/javascripts/services/Redirect.js")
    script(src="/javascripts/services/Autocomplete.js")
    script(src='/javascripts/CustomDirectives.js')
    script(src='/vendor/javascripts/jquery.imagesloaded.js')
    script(src='/vendor/javascripts/jquery.hoverdelay.js')
    script(src='/javascripts/AscotModule.js')
    
    script(src='/javascripts/controllers/CatalogController.js')
  
    script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js')
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', rel='stylesheet')
    
    script
      function CarouselDemoCtrl($scope) {
        $scope.myInterval = 5000;
        $scope.slides = [
          {image: 'http://placekitten.com/200/200',text: 'Kitten.'},
          {image: 'http://placekitten.com/225/200',text: 'Kitty!'},
          {image: 'http://placekitten.com/250/200',text: 'Cat.'},
          {image: 'http://placekitten.com/275/200',text: 'Feline!'}
        ];
        $scope.addSlide = function() {
          $scope.slides.push({
            image: 'http://placekitten.com/'+(200+25*Math.floor(Math.random()*4))+'/200',
            text: ['More','Extra','Lots of','Surplus'][Math.floor(Math.random()*4)] + ' ' +
              ['Cats', 'Kittys', 'Felines', 'Cutes'][Math.floor(Math.random()*4)]
          });
        };
      }
  body
    div(ng-controller='CatalogController', style="width: 400px", ng-init="init( #{JSON.stringify(catalog)} )")
      div
        | {{catalog.looks.length}}
      carousel(interval='5000')
        slide(ng-repeat='look in catalog.looks', active='slide.active')
          img(ng-src='{{look.url}}', style='margin: auto;')

