-#
-# settings.jade
-#
-# Created on: March 20, 2013
-#     Author: Valeri Karpov
-#
-# View to modify users settings, mostly changing their affiliate
-# link settings for now
-#

extends layout

prepend head
  link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
  script(src="/javascripts/services/jquery.minicolors.js")
  script(src="/javascripts/controllers/SettingsController.js")
  script(src="/javascripts/controllers/customOverlayController.js")


block content
  br
  br
  div.customizeWrapper(ng-controller="customOverlayController")
    img#customizeExample(src='http://cdn.dappered.com/wp-content/uploads/2011/12/AE-Dalton-both-colors.jpg#ascot=50feacaa2292ce4f07000002', width='480', height='411')
    .exampleTag(ng-class="myVar") 1
    .exampleTag 2
    .customizeToolbar 
      h3.customizeTitle  Customize
      ul 
        li 
          h3 Border 
            span.karat &#9660;
        li 
          h3 Colors
            span.karat &nbsp; &#9660;
        li 
          h3 Animation
            span.karat &nbsp; &#9660;
        div.animationOptions
          input(type="checkbox", checked) 
          | Toggle
          br
          input(type="checkbox") 
          | Hover 
        div.colorOptions
            div#backgroundColor
              p Background
              input.minicolors(type="text", value="#171717")
            div#numberColor 
              p Number
              input.minicolors2(type="text", value="#ffffff") 
            button(type="submit", ng-click="changeColor()", name="Update") Update
        div.borderOptions
          p.borderToggle Bordered
          br
          div.slider 
          p.sliderValue 2px
    

  .spacer 
       
     
        