-#
-# settings.jade
-#
-# Created on: March 20, 2013
-#     Author: Valeri Karpov
-#
-# View to modify users settings, mostly changing their affiliate
-# link settings for now
-#

extends layout

prepend head
  link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
  script(src="/javascripts/services/jquery.minicolors.js")
  script(src="/javascripts/controllers/SettingsController.js")
  script(src="/javascripts/controllers/customOverlayController.js")


block content
  br
  br
  div(ng-controller="customOverlayController")
    .customPreview 
      img#customizeExample(src='http://cdn.dappered.com/wp-content/uploads/2011/12/AE-Dalton-both-colors.jpg#ascot=50feacaa2292ce4f07000002', width='480', height='411', frameborder= '0', scrolling="no")
      .exampleTag(ng-class="myVar") 1
      .exampleTag 2

    .customizeToolbar 
      h2 Customize Your Overlay
      form.toolbar 
        h3 Tag Style
        div(ng-repeat="tagStyleOption in tagStyleOptions")
          input(type="checkbox", ng-model="tagStyleOption.isChecked", ng-click="checkIfChecked()") 
          | {{tagStyleOption.name}}
        h3 Tag Color
        | Background Color
        input.minicolors(type="text", value="#171717")
        br
        | Number Color
        input.minicolors(type="text", value="#171717") 
        button(type="submit", ng-click="changeColor()", name="Update") Update
        br
        {{color}}
        h3 Animation
        input(type="checkbox") 
        | Toggle Button - Hide/Show Tags With Button
        br
        input(type="checkbox") 
        | Hover - Tags Appear On Hover
  .spacer 
       
     
        