-#
-# customize.jade
-#
-# Created on: May 9, 2013
-#     Author: Cesar Devers
-#
-# View to modify a view config for a specific look
-#

extends layout

prepend head
  link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
  script(src="/javascripts/controllers/CustomOverlayController.js")
  script(src="/vendor/javascripts/jquery.minicolors.js")
  script(src='/javascripts/ascot_plugin.js')
  link(rel='stylesheet', href='/stylesheets/ascot_plugin.css?1234')
  script(type='text/javascript')
    $(document).ready(function() {
      window.ascotPlugin = initAscotPlugin(jQuery, '#{rootUrl}');

      $('li#borderOptions').hover(function() {
          $('div.borderOptions').fadeIn(100);
        }, function() {
          $('div.borderOptions').fadeOut(100);
        }, 250);

      $('li#animationOptions').hover(function() {
        $('div.animationOptions').fadeIn(100);
      }, function() {
        $('div.animationOptions').fadeOut(100);
      }, 250);

      $('li#colorOptions').hover(function() {
        $('div.colorOptions').fadeIn(100);
      }, function() {
        $('div.colorOptions').fadeOut(100);
      }, 250);

    });


block content
  div.customizeWrapper(ng-controller="CustomOverlayController", ng-init="init(#{JSON.stringify(look)});")
    img#customizeSample(ng-src="{{look.url}}#ascot={{look._id}}")
    .customizeToolbar 
      h3.customizeTitle(style="padding: 5px") Customize
      ul 
        li#borderOptions
          h3 Border 
            span.karat &#9660;
          div.borderOptions
            p.borderToggle Border Width:
            input(type="number", min="0", max="5", ng-model="look.viewConfig[0].display.borderWidth", ng-change="updatePlugin()")
        li#colorOptions
          h3 Colors
            span.karat &nbsp; &#9660;
          div.colorOptions
            div#backgroundColor
              p Background
              input(type="text", jq-minicolors, ng-color="look.viewConfig[0].display.backgroundColor", ng-change="updateColor();")
              br
              | {{look.viewConfig[0].display.backgroundColor}}
        li#animationOptions
          h3 Animation
            span.karat &nbsp; &#9660;
          div.animationOptions
            input(type="radio", ng-model="look.viewConfig[0].behavior.displayTagsOnInit", value="SHOW", ng-change="updatePlugin()")
            | Display overlay by default
            br
            input(type="radio", ng-model="look.viewConfig[0].behavior.displayTagsOnInit", value="SHOW_ON_MOUSEOVER", ng-change="updatePlugin()")
            | Display overlay only on mouseover
        li#save
          h3(style="cursor: pointer", ng-click="save()") Save
        li#view
          h3
            a(ng-href="/look/{{look._id}}", target="_blank") View
