extends layout

block content
  form(method="POST", action="/fb/upload/#{look._id}")#fbform
    h2 Upload Look to Facebook
    br
    div.facebookPostWrapper
      img.fbUploadImg(src="#{look.taggedUrl}")
      br
      textarea(name="message", placeholder="Say something about this photo...")
        | #{defaultMessage}
      br
    input(type="submit", value="Post Photo")#facebookUpload
    div.facebookPostOptions
      form
        legend Photo Options
        input(type="radio", name="type_filter", value="1") 
        | Image+Tags
        br
        input(type="radio", name="type_filter", value="0") 
        | Only Image
   

    div.facebookPreviewWrapper
      img.fbUploadImg(src="#{look.taggedUrl}")
      div.fbPreviewText
        p 1. Dope Link bit.ly
    div.spacer