extends layout

block content
	h2.underline Ascot tagging guidelines 
	| We're thankful and excited that we have people in the online fashion community using Ascot. We built Ascot to make online fashion more informative and allow people to buy the great clothes they see in pictures. With that in mind, there are 
	| some cases where the tagging framework we have come up (brand, item name, buy link) leaves the user in a grey area. We want to keep the tagger as simple as possible so rather than make a more complicated tagger for any situation, we've created this
	| document with guidelines for how to address common issues when tagging cloting. 
	
	br
	br

	h3 General Guidelines 
	ul
		li Any field can be left blank in the tagger. For example, you may know a shirt is Brooks Brothers but not the name of the shirt. That is fine but we strongly suggest filling out 	
		li As many fields as possible. 
		li We try to keep brand labeling consistant and periodically standardize tags. Still, try to label the brand as accurately as possible and don't abbreviate. 
		li Sublabels can be labeled as is. For example, Ralph Lauren Black Label doesn't need to be tagged as "Ralph Lauren."
	h3 Guidelines for Common Tagging Situations
	ul
		li If you don't know the name of the garment, simply tagging the brand is ok. 
		li 
			strong [Out of Season] 
			| &nbsp; If the garment you want to tag is out of season and you know the name of it, simply prepend [out of season] to the name of the item in the tagger.
		li 
			strong [MTM]
			|&nbsp; For made-to-measure items, [MTM] should be prepended to the item name and brand should be tagged as normal. 
		li 
			strong [Bespoke] 
			|&nbsp; should be prepended to the item name and the tailor should be the brand if the item is bespoke. 
		li 
			strong [Sample] 
			|&nbsp;can be prepended before the item name is this is a sample garment. 
		li 
			strong [Runway] 
			|&nbsp; should be prepended to the item name for cotoure or runway pieces. 
		li We are constantly updating the site and using feedback to improve our product. Subscribe to the Ascot mailing list to recieve regular updates. Happy Tagging! 