-#
-# home.jade
-#
-# Created on: March 20, 2013
-#     Author: Valeri Karpov
-#
-# View that user sees when they first log in
-#

extends looks_list_base

block list_header
  include partials/_account_navigation.jade