extends layout

block content
  h2 Ascot How-To's and Help Files
  | Learn how to embed the Ascot plugin into your blog or site. 
  br
  br
  a.howToTitle(href="/howto/tumblr") Ascot for Tumblr &nbsp;
  | Set up your tumblr to display the Ascot tags
  br
  br
  a.howToTitle(href="/howto/websites") Websites &nbsp;
  | How to embed the ascot widget on your site. 
  br
  br
  a.howToTitle(href="#") Plan B &nbsp;
  | How Ascot handles embedding when the overlay cannot be displayed. 

