extends layout

block content
  h3.list_header Ascot Basic How-To 
  br
  div#step1
    .heading 
      p 1
    .description Click "start tagging" to upload a picture to Ascot 
    .stepImg 
      img(src='/images/step1.png', id:'step1')
  div#step2
    .heading 
      p 2
    .description Click to add tags. Label clothes, brands, and the source site. 
    .stepImg 
      img(src='/images/step2.png', id:'step2')

  div#step3
    .heading#third 3
    .description Embed and share. 
    .stepImg 
      img(src='/images/step3.png', id:'step3')
  br
  h3.list_header Ascot Advanced Help Files 
  br
  a.howToTitle(href="/howto/guidelines") Tagging Guidelines &nbsp;
  | Learn the conventions of Ascot tagging for various situations. 
  br
  br
  a.howToTitle(href="/howto/tumblr") Ascot for Tumblr &nbsp;
  | Set up your tumblr to display the Ascot tags
  br
  br
  a.howToTitle(href="/howto/websites") Websites &nbsp;
  | How to embed the ascot widget on your site. 
  br
  br
  a.howToTitle(href="/howto/planB") Plan B &nbsp;
  | How Ascot handles embedding when the overlay cannot be displayed. 

