extends layout

prepend head
  script(src='/vendor/jquery-uploader/js/main.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload-fp.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload-ui.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload.js')
  script(src='/vendor/jquery-uploader/js/jquery.iframe-transport.js')
  script(src='/javascripts/draw_red_stripe.js')

block content
  #uploadToolsWrap
    form(method='post', enctype='multipart/form-data', action='/image-upload')
      #tagline
        h2  Upload Any Image and Tag Products
      #uploadURL
        input(type='text', name='url', placeholder="paste a link to an image", id="submitLink")

      br

      h2 or
   
      br

      input(type='file', name='files')
      input(type='submit', class='btn btn-primary start', id="submit", value="Next")
