extends layout

prepend head
  script(src='/vendor/jquery-uploader/js/main.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload-fp.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload-ui.js')
  script(src='/vendor/jquery-uploader/js/jquery.fileupload.js')
  script(src='/vendor/jquery-uploader/js/jquery.iframe-transport.js')
  script(src='/javascript/drawRedStripe.js')

block content
  #uploadToolsWrap
    #tagline
      h2  Upload Any Image and Tag Products
    #uploadURL
      input(type='text', name='files', placeholder="paste a link to an image", id="submitLink")

    br

    h2 or
   
    br

    form(method='post', enctype='multipart/form-data', action='/image-upload')
      input(type='file', name='files')
      input(type='submit', class='btn btn-primary start', id="submit", value="Next")
