extends layout

block content
 #homeWrapper
  .leading 
    h1 Tag here. Share everywhere.
    h3#line1 Ascot is an image-tagging tool for tagging products in pictures. Tag brand name, item name, and even links to the items in the pictures. When people share that image, that information goes with it. 
  br
  .exampleIframe 
    iframe#aboutExample(src='/look/512eda523e92dee93b00000f/iframe', width='513', height='244', frameborder= '0')
    img(src='/images/onboardMockup3.png', id:'step1')

  br
  div#benefits
    br
    .benefitText
      img.benefitImg(src='/images/shareOptions.png', id:'step1')
      br
      | The Ascot overylay makes it really easy for your users to share your images on Tumblr, Facebook, Twitter, or their own site. We make it so easy that some of our users use Ascot to share their images on their own social media channels. 
    .benefitText
      img.benefitImg(src='/images/shareDerby.png', id='derby')
      br 
      | Your users can stop wondering wondering what you've got on. Your audience will thank you and you'll get more traffic to your site as the image is shared. 
    .benefitText
      img.benefitImg(src='/images/shared.png', id='shared')
      br
      | By reducing information loss when sharing, Ascot allows your brand to be everywhere your users are sharing. 
  
  div#getStarted
    br
    h2.leading Ready to get started?
    br
    input(type='submit',
          value="Start Tagging",
          class="startButton")
    
  
