extends layout

block content

  #leading 
    h1#line1 Ascot.
    h1 What are they wearing?


  div#step1
    .heading 1
    .description Upload a picture to Ascot
    .stepImg 
      img(src='/images/step1.png', id:'step1')
  div#step2
    .heading 2
    .description Tags clothes and brands. Add links to items if possible. 
    .stepImg 
      img(src='/images/step2.png', id:'step2')

  div#step3
    .heading#third 3
    .description Embed and share. 
    .stepImg 
      img(src='/images/step3.png', id:'step3')
