extends layout

block afterbody
  div#fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=169111373238111";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

block content
 h3.list_header The Ascot Project
 #homeWrapper
  .leading 
    h3 Tag here. Share everywhere.
    p#line1 Ascot is an image-tagging tool for tagging products in pictures. Tag brand name, item name, and even links to the items in the pictures. When people share that image, that information goes with it. 
  br
  .exampleIframe 
    iframe#aboutExample(src='http://AscotProject.com/look/512eda523e92dee93b00000f/iframe', width='513', height='244', frameborder= '0', scrolling="no")
    img(src='/images/onboardMockup3.png', id:'step1')
  br
  br
  div.span12
    div.row
      div.span4
        h4.benefitHead Image Sharing Made Simple 
        br
        img.benefitImg(src='/images/shareOptions.png', id:'step1')
        br
        br
        br
        | The Ascot overylay makes it really easy for your users to share your images on <a href="http://ascotproject.tumblr.com">Tumblr</a>,
        | <a href="http://www.facebook.com/ascotproject">Facebook</a>, <a href="https://twitter.com/AscotProject">Twitter</a>,
        | or <a href="/samples/test.html">their own site</a>. We make it so easy that some of our users use Ascot to share their images on their own social media channels. 
      div.span4
        h4.benefitHead Higher Audience Engagement
        br
        img.benefitImg(src='/images/shareDerby.png', id='derby')
        br 
        br
        br
        | Your users can stop wondering what you've got on. Your audience will thank you and you'll get more traffic to your site as the image is shared. 
      div.span4
        h4.benefitHead Information Persistence
        br
        img.benefitImg(src='/images/shared.png', id='shared')
        br
        br
        br
        | By reducing information loss when sharing, Ascot allows your brand to be everywhere your users are sharing. 
  
  div.row
    div.span12#start
      div.startButton
        a(href='/upload')
          | Start Tagging
  br
  br
