doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js')

    block head

  

  body

  canvas#redStripe

  #wrapper
    img#logo(src='/images/ascotLogo.png', id:'logo')

    h1= title

    ul#nav 
      li
        a(href="#") 
          h3 Home
      li
        a(href="#")  
          h3 Upload
      li
        a(href="#")  
          h3 Looks
      li
        a(href="#")  
          h3 About

    ul#social
      li
        img#tumblr(src='/images/tumblrButton.png', id:'tumblrButton')
      li
        img#twitter(src='/images/twitterButton.png', id:'twitterButton')
      li
        img#facebook(src='/images/facebookButton.png', id:'fbButton')



    br

    block content

