extends layout

prepend head



block content
  h2.list_header Sign in to Ascot
  h2.signupHead Create an Ascot Account
  br
  include partials/_login.jade
  br
  - if (message)
    div.loginError
      | #{message}
