-#
-# looks_list.jade
-#
-# Created on: November 18, 2012
-#     Author: Valeri Karpov
-#
-# Views for a list of looks, i.e. for search results
-#
prepend head 
  script(src='/javascripts/jquery.fillwidth.js')
  script(src='/javascripts/all_looks.js')	
extends layout

block content
  div.list_header #{listTitle}

  ul.all_looks_wrapper
    - if(looks.length > 0)
      - each look in looks
        div.looks_wrapper 
          li
            a(href="/look/#{look._id}")
              img(src="#{look.url}", class="looks")
    - else
      div.list_header No looks found

