head
  link(rel='stylesheet', href='/stylesheets/ascot_overlay.css')
  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/start/jquery-ui.css')

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
  script(src='/javascripts/display_image.js')


body
  include partials/_look.jade

