extends layout

prepend head
  script(src='/javascripts/display_image.js')
  link(rel='stylesheet', href='/stylesheets/ascotOverlay.css')
  link(rel='stylesheet', href='/stylesheets/ascotLook.css')


block content
  h1= title

  div.look
    img(src="#{look.url}", class="image")    
    div.animateButton
    div.overlay

  //- test iframe
  //- iframe(src="http://localhost:3000/look/50a7fe3465cf2c9236fd134a/iframe", seamless="seamless", frameborder="0", height="647x", width="474px" )