-#
-# looks_list.jade
-#
-# Created on: November 18, 2012
-#     Author: Valeri Karpov
-#
-# Views for a list of looks, i.e. for search results
-#

extends layout

block content
  div.all_looks_wrapper
    - each look in looks
      div.looks_wrapper 
        img(src="#{look.url}", class="looks")

