extends layout

prepend head
  script(src='/javascripts/display_image.js')
  link(rel='stylesheet', href='/stylesheets/ascot_overlay.css')
  link(rel='stylesheet', href='/stylesheets/ascot_look.css')


block content
  h1= title

  div.look-container

    include partials/_look.jade

    include partials/_iframe_input.jade