extends layout

prepend head
  script(src='/javascripts/display_image.js')
  link(rel='stylesheet', href='/stylesheets/ascotOverlay.css')


block content
  h1= title
  

  div.look
    img(src="#{look.url}", class="image")
    img(src="/images/ascot_watermark.png", class="animateButton")  
    
    div.overlay

