extends layout

prepend head
  script(src='/javascripts/animationJS.js')
  link(rel='stylesheet', href='/stylesheets/ascotOverlay.css')


block content
  h1= title
  
  div.look
    img(src="#{look.url}", class="image")
    img(src="/images/ascot_watermark.png", class="animate")  
    
    canvas.canvas

    div.overlay

      div.tags

