extends layout

prepend head
  script(src='/javascripts/display_image.js')
  link(rel='stylesheet', href='/stylesheets/ascot_overlay.css')
  link(rel='stylesheet', href='/stylesheets/ascot_look.css')


block content
  h1= title

  div.look-container

    include partials/_look.jade

    include partials/_iframe_input.jade

  iframe(src='/look/50a91bc13914d1604a000027/iframe', frameborder="0", width='560', height='800')
