-#
-# product_looks.jade
-#
-# Created on: November 18, 2012
-#     Author: Valeri Karpov
-#
-# Views for list of looks with a given product
-#

extends layout

block content
  div.all_looks_wrapper
    - each look in looks
      div.looks_wrapper 
        img(src="#{look.url}", class="looks")

