link(rel='stylesheet', href='/stylesheets/email.css')

div#wrapper 
  p.disclaimer 
    span.left Ascot sample HTML email. Make sure your email client can display HTML. 
    span.right View this email online 
  div.emailHeading
    img(src= "/images/emailHeading.png")
    h3 Ascot for Email Example
    i Unleash the Power of Ascot Emails
    img(src= "/images/fbsample.png", width=600)
  p Ask Questons