-#
-# security.jade
-#
-# Created on: 3/11, 2013
-#     Author: Matt Green
-#
-# Responsible discloure 
-#  
extends layout

block content
  #securityText
    h2.underline Responsible Disclosure
    h3 Affiliate Links
    p  Ascot may use affiliate links throughout our site and our plugins. We also allow our partner sites and publishers to add their own affiliate links to ascot tags if they so desire. We also reserve the right to convert non-affiliate links into our affiliate links. We will always leave existing affiliate links in tact so that the original publisher can realize revenue using Ascot. 
    br
    h3 Security
    p
      | Ascot project is developed and run by a couple of dudes trying to make something cool.
      | While we do our best to ensure the security of our site and infrastructure, we 
      | sincerely appreciate being notified of any vulnerabilities in our site. If you
      | happen to uncover a vulnerability, please email us at 
      a.contact(href="mailto:security@ascotproject.com", target="_blank") security@ascotproject.com
