-#
-# security.jade
-#
-# Created on: 3/11, 2013
-#     Author: Matt Green
-#
-# Responsible discloure 
-#  
extends layout

block content
  #securityText
    h2 Responsible Disclosure
    p
      | Ascot project is developed and run by a couple of dudes trying to make something cool.
      | While we do our best to ensure the security of our site and infrastructure, we 
      | sincerely appreciate being notified of any vulnerabilities in our site. If you
      | happen to uncover a vulnerability, please email us at 
      a.contact(href="mailto:security@ascotproject.com", target="_blank") security@ascotproject.com
