-#
-# settings.jade
-#
-# Created on: March 20, 2013
-#     Author: Valeri Karpov
-#
-# View to modify users settings, mostly changing their affiliate
-# link settings for now
-#

extends layout

prepend head
  script(src="/javascripts/controllers/SettingsController.js")

block content
  include partials/_account_navigation.jade
  div(ng-controller="SettingsController", ng-init="init(#{JSON.stringify(user.settings)})")
    form(name="settingsForm", ng-submit="save(settingsForm.$valid)")
      h1
        | #{user.username}'s settings
      div.settings_text
        div
          | Automatically convert tagger links to Shopsense links if possible?
          input(type="checkbox", ng-model="data.affiliates.shopsense.enabled")
        br
        div(ng-show="data.affiliates.shopsense.enabled")
          | What is your Shopsense partner id?
          br
          input(type="text", ng-model="data.affiliates.shopsense.key")
          br
          br
        div
          input#settingsSave(type="submit", value="Save")
        div(ng-show="showSaved", style="font-weight: bold")
          | Settings successfully saved
