-#
-# tagger.jade
-#
-# Created on: November 17, 2012
-#     Author: Valeri Karpov
-#
-# View for our image tagger
-#

extends layout

prepend head
  script(src="/javascripts/TaggerViewController.js")
  script(src="/javascripts/adjust_wrappers.js")
  link(rel='stylesheet', href='/stylesheets/taggerPut.css')


block content

  div(ng-controller="TaggerViewController")
    input(type="submit",value="Save",id="save_button")

    div.look-container
      div#look
        div.magicdiv(style="position: relative")
          img(src="#{look.url}", class="uploadedImg", ascot_id="#{look._id}", adjust_ascot_wrapper="1", ng-init="look = '#{look._id}'; loadLook(look)", ng-click="addTag(look, $event.pageX, $event.pageY)")
          div.item(ng-repeat="tag in idsToLooks[look].tags", ng-style="{ position : 'absolute', left : tag.position.x + 'px', top : tag.position.y + 'px' }", ng-dblclick="deleteTag(look, tag)")
            {{tag.index}}

          div#overlay(ng-show="isEdittingTag(look)", ng-style="{ position : 'absolute', left : (idsToEditTag[look].position.x + 25) + 'px', top : (idsToEditTag[look].position.y + 25) + 'px' }")
            input(type="text", value="", id="productSearch", ng-model="idsToSearchQueries[look]", ng-change="findProducts(look, idsToSearchQueries[look])")
            div.autocomplete-w1
              div.autocomplete
                div(ng-repeat="result in idsToSearchResults[look]", ng-click="setTaggedProduct(look, result);")
                  {{result.name}} from {{result.brand}} ({{result.type}})
