extends layout

block content
  h3.list_header Ascot Plugin for Tumblr
  br
  | Using the Ascot Javascript plugin, you can display your images with Ascot's
  | tag overlay directly in your Tumblr. To see it in action, check out &nbsp;
  a(href="http://ascotproject.tumblr.com") ascotproject.tumblr.com &nbsp;
  | or &nbsp;
  a(href="http://jamesbondlooks.tumblr.com") jamesbondlooks.tumblr.com
  br
  hr
  br
  | 1. Log in to your Tumblr dashboard and click the 'settings' button:
  br
  img(src="/images/tumblr_settings.png", style="margin: 10px;")
  br
  br
  | 2. Under 'Edit posts using', make sure you've clicked 'plain text/HTML':
  br
  img(src="/images/tumblr_html.png", style="margin: 10px")
  br
  br
  | 3. Now click on the blog you want to use the Ascot Plugin on and click 'Customize' under 'Theme':
  br
  img(src="/images/tumblr_customize_theme.png", style="margin: 10px")
  br
  br
  | 4. Click 'Edit HTML' on the upper left:
  br
  img(src="/images/tumblr_edit_html.png", style="margin: 10px")
  br
  br
  | 5. Add the following code to your theme right before the &#60/body> tag and save:
  br
  textarea(style="width:300px; height: 65px; margin: 10px; resize:none;", readonly)
    | <script type="text/javascript" src="http://www.ascotproject.com/javascripts/ascot_plugin_launcher.js"></script>
  br
  img(src="/images/tumblr_js.png", style="margin: 10px")
  br
  br
  | 6. Now go to the look you want to share (for example, 
  a(href="/look/50beeff0d2e16da23100000c") this one
  | ), and click the 'Share on Tumblr' button.
