extends layout

block content
 .progress
    img(src='/images/progressStep1.png', id:'step1')
 #uploadToolsWrap
    #tagline
      h2  1. Upload Any Image
      
    form(method='post', enctype='multipart/form-data', action='/image-upload')
      #uploadURL
        input(type='text', name='url', placeholder="paste a link to an image", id="submitLink")

      br

      h2 or
   
      br
    
      input(type='file', name='files', id="uploadInput", style="visibility: hidden")
      div.customUpload(onclick='$("#uploadInput").click();')
        | Select a file
      input(type='submit', class='btn btn-primary start', id="submit", value="Next")
