extends layout

block content
 
  p Welcome to #{title}

  form(method='post', enctype='multipart/form-data', action='/image-upload')
    input(type='file', name='files')
    input(type='submit', class='btn btn-primary start')
