extends layout

block content
 
 #uploadToolsWrap
    #tagline
      h2  Upload Any Image and Tag Products
      
    form(method='post', enctype='multipart/form-data', action='/image-upload')
      #uploadURL
        input(type='text', name='url', placeholder="paste a link to an image", id="submitLink")

      br

      h2 or
   
      br
    
      input(type='file', name='files')
      input(type='submit', class='btn btn-primary start', id="submit", value="Next")
