extends layout

block content
  h2 Ascot Plugin for Websites
  | 1. Make sure you have javascript enabled and that there isn't a platform-specific ascot tutorial. We have help files for Tumblr and Wordpress.
  br
  br
  | 2. Upload and tag tag the image you wish to embed on your site. Hit "save".  
  br
  img(src="/images/embedEx1.png", style="margin: 10px")
  br
  | 3. After saving the tagged image, you'll be taken to a page that displays the image with the ascot overlay. Copy the embed code at the bottom of this page. 
  br
  img(src="/images/embedEx2.png", style="margin: 10px")
  br
  br
  | 4. Add the copied code to your site's html between the &#60body> and &#60/body> tags.
  br
  img(src="/images/embedEx3.png", style="margin: 10px")
  br

