#admin_element {
  margin-top: 5px;
  padding-bottom: 3px;
}

#admin_element a {
  color : black;
}

.published{
  background-color: green;
}

.unpublished{
  background-color: red;
}

.user {
  padding: 2px;
  margin: 5px;
  font-family: sans-serif;
}

.user_look {
  margin-left: 20px;
  margin-top: 8px;
  width: 600px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #A3A3A3;
}