/*
 *  ascot_plugin.css
 *
 *  Created on: January 10, 2012
 *      Author: Valeri Karpov
 *
 *  Stylesheets for ascot plugin. All names prefixed with 'ascot_overlay' to
 *  minimize likelihood of collisions
 *
 */

.ascot_overlay_look {
  position: relative;
  display: inline-block;
  float: none;
  text-align: left;
}

.ascot_overlay_look a {
  color: #7b7979;
  text-decoration: none;
}

.ascot_overlay_look .ascot_overlay {
  position:absolute;
  vertical-align: top;
  z-index:2;
  float: none;
  line-height: 1;
  font-family:"Georgia", Helvetica, Arial, serif;
  font-size: 14px;
}

.ascot_overlay {
  z-index: 1000;
}

.ascot_overlay_look .ascot_overlay_look img {
  position:absolute;
  vertical-align: top;
  border-radius:0px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.ascot_overlay_look .ascot_overlay_animate_button {
  opacity:0.7;
  position:absolute;
  z-index:8;
  cursor:pointer;
  height:65px;
  width:65px;
  display: block;
  margin:10px;
  background-image:url('/images/ascot_watermark_circle.png');
  background-size: 100% auto;
  background-position: left top;
}

.ascot_overlay_look .ascot_overlay_animate_button:hover {
 opacity:1;
}

.ascot_overlay_look .ascot_overlay_image_menu {
  height:62px;
  width:28px;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index:500;
  padding: 0px;
  text-align: center;
   border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background-color: #323232;
  background-color: rgba(50,50,50,0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.ascot_overlay_look .ascot_overlay_image_menu:hover {
  background-color: #323232;
}

.ascot_overlay_look .ascot_overlay_image_menu a{
  height:100%;
}

.ascot_overlay_look .ascot_overlay_image_menu ul {
  padding:0;
  width:100%;
  margin: 0;
}

.ascot_overlay_look .ascot_overlay_image_menu li {
  color:white;
  list-style-type:none;
  display:block;
  opacity:0.8;
  width:100%;
  margin:0px;
  height:28px;
  padding: 0px;
}

.ascot_overlay_look .ascot_overlay_image_menu img#ascot_overlay_menu_item:hover {
  opacity:1;
  
}

.ascot_overlay_look .ascot_overlay_image_menu img#ascot_overlay_menu_item {
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
  position: relative;
  opacity: 0.7;
  top: 0px;
  left: 0px;
  display: inline-block;
  background: transparent;
  border: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* this controls the position of the share menu wrapper within the look. this is for the pinterest, tumblr, etc not the like/share menu*/
.ascot_overlay_look .ascot_overlay_share_menu {
  position: absolute;
  width:102px;
  height:202px;
  border:1px white solid;
  right:50px;
  background-color:#323232;
  top:10px;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color:white;
  opacity:0.8;
  z-index: 4;
}

.ascot_overlay_look .ascot_overlay_share_menu a {
  color: white;
}

.ascot_overlay_look .ascot_overlay_share_menu .ascot_overlay_share_arrow {
  position:absolute;
  right: -20px;
  top:10px;
  width:20px;
  height:20px;
  z-index: 4;
}

.ascot_overlay_look .ascot_overlay_share_menu .ascot_overlay_share_arrow img#ascot_overlay_share_arrow {
   box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  height: 15px;
  width: 9px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

div.ascot_overlay_look div.ascot_overlay_share_menu ul#ascot_overlay_share_list {
  list-style:none;
  width:95px;
  height:100%;
  position:relative;
  overflow:none;
  top:2px;
  padding:0;
  margin: 0px;
}

.ascot_overlay_look .ascot_overlay_share_menu li {
  position:relative;
  width:95px;
  height:20px;
  text-align: left;
  margin:0;
}

.ascot_overlay_look .ascot_overlay_share_menu li#ascot_overlay_share {
  margin: 0;
}

.ascot_overlay_look .ascot_overlay_share_menu .ascot_overlay_social_icon {
  float:left;
  position:relative;
  height:100%;
  width:20px;
  height:20px;
  padding:0;
}

div.ascot_overlay_look div.ascot_overlay_social_name {
  float:left;
  margin-left: 10px;
  margin-top: 3px;
  color: white;
  font-size:12px;
}

div.ascot_overlay_look div.ascot_overlay_share_menu .ascot_overlay_social_icon img#ascot_overlay_social {
  box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  width:20px;
  height:20px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: transparent;
  position:relative;
  left:0;
}

.ascot_overlay_look .ascot_overlay_share_menu #ascot_overlay_embed_instruct {
  font-size:12px;
  text-align:left;
  width:85%;
  position:relative;
  top:0;
  margin: 0px;
  left:7px;
  line-height: 1;
  color: white;
  text-shadow: 0px 0px 0px transparent;
}

.ascot_overlay_look .ascot_overlay_tag_container {
  float: none;
  position:absolute;
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_name {
  float: none;
  position: relative;
  line-height: 16px;
  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  padding: 2px;
  padding-top: 0px;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:15px;
  height:15px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  text-align: center;
  z-index:1;
  behavior:url('/vendor/htc/PIE.htc');
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_name:hover {
  float: none;
  opacity:1;
  height:15px;
  width:15px;
  cursor:pointer;
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_description {
  float: none;
  line-height: 16px;
  position: absolute;
  border:1px #323232 solid;
  color:#171717;
  background-color: rgb(244, 244, 244);
  background-color: rgba(244,244,244,.8);
  width:200px;
  text-align:center;
  border-radius:5px;
  padding-bottom: 8px;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.75);
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_description a#ascot_overlay_link {
  color: black;
  text-decoration: underline;
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_description a#ascot_overlay_buy_button {
  background-color: rgb(218,126,104);
  background-color: rgba(218,126,104,0.8);
  padding: 2px;
  color: white;
  position: relative;
  top: 5px;
  border-radius: 3px;
}

.ascot_overlay_look .ascot_overlay_tag_container .ascot_overlay_tag_name_small {
  float: none;
  position: relative;
  line-height: 12px;
  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  padding: 3px;
  padding-top: 0px;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  width:10px;
  height:10px;
  opacity:0.8;
  font-size:10px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  text-align: center;
  z-index:1;
}

.ascot_overlay_look .ascot_overlay .ascot_overlay_source_tag {
  position: absolute;
  background: #171717;
  line-height: 16px;
  color: #fff;
  border: 3px solid white;
  margin: 0px;
  padding: 2px;
  padding-top: 0px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width:15px;
  height:15px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  text-align: center;
  bottom: 0px;
  left: 10px;
  z-index:4;
  behavior:url('/vendor/htc/PIE.htc');
}

.ascot_overlay_look .ascot_overlay .ascot_overlay_source_url {
  border:1px transparent solid;
  text-align: center;
  width:200px;
  background-color: rgb(255, 255, 255);
  background-color:rgba(255,255,255,0.7);
  color:#323232;
  border-radius: 3px;
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif; 
  display: none;
  position: absolute;
  bottom: -3px;
  z-index: 1;
  left: 11px;
  padding: 3px;
  overflow: hidden;
}

.ascot_overlay_look .ascot_overlay_menu_wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 4;
}
