/*These styles are NOT applied to the IFrame version*/

.image{
  /*must be same size as overlay margin*/
  border: 5px #C2C0C0  solid;
  max-width:700px;


  /*border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);*/
}

.look-container {
  position:relative;
  margin: auto;
}

/* this makes the links show up the same style as on the looks page. Any changes to this must also be made in style.css*/
a {
  color: #7b7979;
  text-decoration: none;
}

a:active{
  color:#7b7979;
  text-decoration: none;
}

a:visited {
  color:#7b7979;
  text-decoration: none;
}

.share_container {
  margin: auto;
  position: relative;
  width: 680px;
  color: #333333;
  margin-top: 25px;
}

.share_container .header {
  font-size: 14pt;
  color: black;
  width: 100%;
  text-align: center;
}

.share_container div {
  padding-top: 3px;
}

.tumblr_container {
  float: left;
  width: 300px;
  position: relative;
  padding: 10px;
}

.iframe_code_container {
  float: right;
  width: 300px;
  padding: 10px;
  border-left: 1px solid black;
}

.share_container textarea {
  width: 250px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 18px;
}
