/*These styles are NOT applied to the IFrame version*/

.image{
  /*must be same size as overlay margin*/
  border: 5px #C2C0C0  solid;
  max-width:700px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);


  /*border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);*/
}

.progressStep {
  text-align: center;
}

.look-container {
  position:relative;
  margin: auto;
  margin-bottom: 0px;
  top:20px;
}

/* this makes the links show up the same style as on the looks page. Any changes to this must also be made in style.css*/
a {
  color: #7b7979;
  text-decoration: none;
}

a:active{
  color:#7b7979;
  text-decoration: none;
}

a:visited {
  color:#7b7979;
  text-decoration: none;
}

.share_container {
  margin: auto;
  position: relative;
  width: 681px;
  color: #333333;
  margin-top: 25px;
  text-align: center;
}

.share_container .header {
  font-size: 14pt;
  color: black;
  width: 100%;
}

.share_container div {
  padding-top: 3px;
}

.tumblr_container {
  float: left;
  width: 320px;
  position: relative;
  padding: 10px;
}

.iframe_code_container {
  float: right;
  width: 320px;
  padding: 10px;
  border-left: 1px solid black;
}

.share_container textarea {
  width: 300px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  resize: none;
}


