/*These styles are NOT applied to the IFrame version*/

/*div element that contains tags*/
.overlay{
  /*This margin needs to be the same size
  as the border of the image (TODO: fix with variable?)*/
  margin: 5px;
}

.image{
  /*must be same size as overlay margin*/
  border: 5px #c2c0c0 solid;


  /*border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);*/
}

.look-container{
  border: 1px green solid;

  position:relative;
  margin: auto;
}

.iframe-code{
  position:relative;
  display: block;
  width: auto;
  margin: 20px auto;

}
