.look{
  border:1px green solid;
  position:relative;
  float:left;

}


canvas {
	border:5px blue solid;
	position:absolute;
  float:left;
	z-index:5;
}

.overlay{
  border:1px red solid;
  position:absolute;

  z-index:7;
}

.tags{

}

.image{
  border:1px blue solid;
  position:absolute;
  z-index: 1;
}

.animate{
  border:1px green solid;
	opacity:0.8;
  position:absolute;
  z-index:10;
}