/*This style is applied to the IFrame as well as images on our site*/


/*parent div for each IMG element*/
.look{
  position:relative;
  margin:auto;
  

}

.look-container{
    
}

/*div element that contains tags*/
.overlay{
  position:absolute;
  vertical-align: top;
  display: none;
  z-index:2;
}

.image{
  position:absolute;
  vertical-align: top;
  border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

/*div element that contains source URL*/
.sourceUrl{
  border:1px transparent solid;
  text-align: center;
  width:200px;
  background-color:rgba(255,255,255,0.7);
  color:#323232;
  border-radius: 3px;
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif; 
  display:none;
  position:relative;
  bottom:16px;
  z-index:1;
  left:21px;
}



/*container for sourceURL*/
.sourceTag{
 
  position:relative;

  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  
  padding: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:14px;
  height:14px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  text-align: center;
  top:96%;
  margin-left:6px;
  z-index:4;


}


.imageMenu {
  border:1px white solid;
  height:80px;
  width:40px;
  position:relative;
  float:right;
  top:0px;
  z-index:500;
   border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
   background-color:rgba(0,0,0,0.5);

}

.imageMenu li {
  color:white;
  list-style-type:none;
  display:block;
  opacity:0.8;
  width:100%;
  margin:0;
  height:40px;
  padding: 0;
 
}

.imageMenu a{
  height:100%;

}

.imageMenu li:hover {
  opacity:1;
    background-color:rgba(255,255,255,0.2);
}

.imageMenu ul {
  padding:0;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}

.imageMenu li:nth-last-child(1) {
  border-top:1px white solid;
}
/*Picture of ascot that toggels ascot layer*/
.animateButton{
  opacity:0.8;
  position:absolute;
  z-index:8;
  cursor:pointer;

  height:79px;
  width:52px;

  /*set to true when image loads*/
  display: none;

  background-image:url('/images/ascot_watermark.png');
}

/*TODO: swap out image with one that has a border*/
.animateButton:hover{
  opacity:1;
  background-image:url('/images/ascot_watermark_glow.png');
}


.tag-container{
  position:absolute;
  z-index:3;
}

.tag-name {
  position: relative;

  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  
  padding: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:14px;
  height:14px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  text-align: center;

  z-index:1;
}

.tag-name:hover, .sourceTag:hover {
  opacity:1;
  height:15px;
  width:15px;
  cursor:pointer;
}

.tag-description{
  position:relative;
  border:1px #323232 solid;
  color:#171717;
  background-color: rgba(244,244,244,.8);
  width:200px;
  text-align:center;
  margin-top: -7px;
  margin-left: 7px;
  border-radius:5px;

  -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.75);
}
