html {
	padding:0;
}

body {
 width:960px;
  padding: 50px;
  padding-top:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  border: 1px blue solid;
  position:absolute;
  margin:auto;
  left:0;
  right:0;

}
a {
  color: #7b7979;
  text-decoration: none;
}

a:active{
	color:#7b7979;
	text-decoration: none;
}

a:visited {
	color:#7b7979;
	text-decoration: none;
}


#nav {
	padding:0;
	top:14px;
	width:400px;
	position:relative;
	left:200px;
	margin-bottom: 100px;
}

#social {
	padding:0;
	top:14px;
	width:400px;
	position:relative;
	left:200px;
	margin-bottom: 100px;
}
h3{
	font-weight:400;
	margin:2px;
	padding:0;
}

h1 {
	color:#7b7979;
	font-family: 'times new roman';
	font-size: 350%;
	position:absolute;
	top:0;
	
	left:100px;
	margin-top:	10px;

}



#nav li{
	border:1px #dbdcdc solid;
	background: #dbdcdc;
	width:15%;
	float:left;
	margin:0;
	padding:0;
	display:inline;
	text-align: center;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#7b7979;
}


#social li{
	
	float:right;
	margin:0;
	padding:0;
	display:inline;
	text-align: center;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#7b7979;
}

#logo {
	position:absolute;
}

