#look{
  left:0;
  right:0;
  height:500px;
  border:0px transparent solid;
 
}

h2 {
  font-weight:400;
}

.look-container{

}
#save_button {
   border:1px solid #B54E37;
  -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
  text-shadow: 0px -1px 0px rgba(000, 000, 000, 0), 0px 1px 0px rgba(255, 255, 255, 0.3);
  padding: 7px 15px;
  background: -moz-linear-gradient( top, #B54E37 0%, #822816);
  background: -webkit-gradient( linear, left top, left bottom, from(#B54E37), to(#822816));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color:white;
  position:relative;
  

}
.info {
  border-bottom:1px #7B7979 solid;
  padding-bottom: 3px;
  width:700px;
  margin:auto;
  left:0;
  right:0;
  position: relative;
  color:#7B7979;
  opacity:1;
  margin-bottom:16px;
}

.title {
  padding-bottom: 2px;
  width:700px;
  margin:auto;
  left:0;
  right:0;
  position: relative;
  color:#323232;
  opacity:1;
}
#sourceField, #titleField{
  width:700px;
  font-size:100%;
  position:relative;
  left:130px;
  margin-bottom:8px;
  -webkit-box-shadow: inset 0px 1px 0px #d9d9d9;
  box-shadow: inset 0px 1px 0px #d9d9d9;
 
}

.magicdiv{
  position:relative;
  z-index:4;
  border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  margin:auto;
  vertical-align: top;
  display:block;
  left:0;
  right:0;
}

.tags{
  border: 1px green solid;
  position:absolute;
  z-index: 3;

}

#overlay{
  position:absolute;
  display:block;
  z-index: 4;
}

.item:hover {
  opacity:1;
  height:15px;
  width:15px;
  cursor:pointer;
}

.item-description{
  color:#171717;
  background-color: rgba(244,244,244,.5);
  position:absolute;
}

.item {
  position:absolute;
  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  padding: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  position: relative;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:14px;
  height:14px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  z-index:10;
  text-align: center;
}
