#look{
  left:0;
  right:0;
  height:500px;
  border:0px transparent solid;
 
}

.look-container{

}

.uploadedImg{
  position:relative;
  z-index:4;
  border-radius:10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  margin:auto;
  vertical-align: top;
  display:block;
  left:0;
  right:0;
}

.tags{
  border: 1px green solid;
  position:absolute;
  z-index: 3;

}

#overlay{
  position:absolute;
  display:none;
  z-index: 4;
}

.item:hover {
  opacity:1;
  height:15px;
  width:15px;
  cursor:pointer;
}

.item-description{
  color:#171717;
  background-color: rgba(244,244,244,.5);
  position:absolute;
}

.item {
  position:absolute;
  background: #171717;
  color: #fff;
  border: 3px solid #fff;
  padding: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  position: relative;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:14px;
  height:14px;
  opacity:0.8;
  font-size:13px;
  font-family: "helvetica neue", helvetica, arial, sans-seriff;
  font-weight:800;
  box-shadow: 1px 1px 1px 1px #6B6B6B;
  -webkit-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -moz-box-shadow: 1px 1px 1px 1px #6B6B6B;
  -o-box-shadow: 1px 1px 1px 1px #6B6B6B;
  z-index:10;
  text-align: center;
}
